{% extends 'base.html' %}
{% load static%}
{% block title %}
   welcome
{% endblock %}
{% block content%}
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %} 
            <p>
                <label for=""></label>
                <input type="text" name="name">
            </p>
            <p>
                <label for="">Email:</label>
                <input type="email" name="email">
            </p>
            <p>
                <label for="">Password:</label>
                <input type="password" name="Password" id="">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
    </div>
    {% endblock %}